################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/cnn/v16
/x64/Debug
/engine/x64/Debug
/learning_example/x64/Debug
